name: Package and publish profile releases

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      recipe:
        description: 'Recipe name to publish profiles for'
        required: true
      version:
        description: 'Profiles version to publish'
        required: true

jobs:
  create:
    name: Create a profile release
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }} # only run on manual trigger
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set variables
        id: vars
        run: |
          echo "RECIPE=${{ github.event.inputs.recipe }}" >> $GITHUB_ENV
          echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          echo "ZIP_NAME=toolchain-profiles-${{ github.event.inputs.recipe }}-${{ github.event.inputs.version }}.zip" >> $GITHUB_ENV

      - name: Zip profile folder
        run: |
          mkdir -p dist
          zip -r "dist/$ZIP_NAME" "conan_config/profiles/$RECIPE"

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.ZIP_NAME }}
          name: ${{ env.ZIP_NAME }}
          files: dist/${{ env.ZIP_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
